extends layout

block content
    link(rel='stylesheet' href='./stylesheets/explore.css')
    div#header.text-center
      h1 explore.
    div#infobox.text-center
      p My grade report is a grade tracker that takes the hassle out of keep up with your grades.
      p You can easily input your grades and recieve GPA calculations and grade trend reports.
      a.button.btn.btn-primary(type='button' href='/') Home
      a.button.btn.btn-success(type='button' href='/signup') Sign Up
      br
      br
