extends ../layout

block content
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    div.jumbotron.text-center#main
        h1 You fucked up.
        h2 Try using a diffrent email/username, and make sure all boxes were filled in.
        h2: a(href='/signup') Try again
