#header {
  font-family: 'chalk';
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#header h1 {
  font-size: 11em;
}


#infobox{

    margin-top: 1%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: rgba(255,255,255,0.5);
    font-size: 2em;
}

.btn-primary {
  width: 20%;
  font-size: 60%;
  text-align: center;

}

.btn-success {
  width: 20%;
  font-size: 60%;

}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media screen and (max-device-width: 480px) {
#header h1 { font-size: 5.5em;
}

@media screen and (max-device-width: 480px) {
#infobox {
      margin-top: 1%;
      width: 260px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 25px;
      background: rgba(255,255,255,0.5);
      font-size: 2em;
}

@media screen and (max-device-width: 480px) {
p { font-size: 20px;
}

@media screen and (max-device-width: 480px) {
.button { width: 80px;
font-size: 60%;

}
