extends ../layout
link(rel='stylesheet' href='stylesheets/signup_confirm.css')
block content
    div.text-center.jumbotron
        h1 You signed up successfully!
        br
        a.button.btn.btn-success(type='button' href='/') Log In
